#Node modules
node_modules/

.vscode/

#upload images
images/

yarn-error.log
yarn.lock
.eslintcache
npm-debug.log

# Environment variables
.env

# Credentials of database
ormconfig.json
ormconfig.js
ormconfig*

ngrok.exe

#Migrations
migration/

# Folder of javascript
dist/
Dockerfile*

## Frontend
/.pnp
.pnp.js

# testing
/coverage

# Npm package
package-lock.json

# production
build/
yarn.lock
*.lock

ca-certificate.crt

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db